<aside class="logo">
  {% assign link = '/' %}
  {% assign prompt = 'Back to Home' %}

  <a href="{{ link | prepend: site.url }}">
    <img class="gravatar" src="/assets/favicon.png">
  </a>
  <span class="logo-prompt">{{ prompt }}</span>

</aside>