<aside class="logo">
  {% assign link = '/' %}
  {% assign prompt = 'Back to Home' %}

  <a href="{{ site.baseurl | prepend: site.url }}">
    <img class="gravatar" src="{{ "/assets/favicon.png" | prepend: site.baseurl | prepend: site.url }}">
  </a>
  <span class="logo-prompt">{{ prompt }}</span>

</aside>